@import url('fonts.css');
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
}


.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

/* HEADER */
.header {
    background-color: #222;

}

.header a {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-menu-link{
    text-decoration: none;
    color: #e8e8e8;
    font-family: "Manrope Regular";
    font-size: 14px;
    transition: 0.3s;
}
.header-container {
    align-items: center;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.header-logo {
    font-family: "Poppins Bold";
    font-weight: 400;
    font-size: 26px;
    line-height: 1.17;
    color: #e8e8e8;
}

.header-logo-color {
    display: inline-block;
    padding: 3px 6px;
    border: 2px solid #2f4f2f;
    background-color: #2f4f2f;
    color: #e8e8e8;
    border-radius: 5px;
}

.header-menu {
    display: flex;
    gap: 34px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e8e8e8;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #2f4f2f;
}
/* Вирівнювання кнопок */
.buttons-header {
    display: flex;
    align-items: center;
    background-color: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.nav-btns {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0;
    margin: 0;
}


.buttons-link {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-link:hover {
    background-color: #2f4f2f;
    border-radius: 4px;
    transform: scale(1.05);
}

/* Розмір кнопки-іконки */
.icon-btn {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Розмір іконок */
.icon-btn img {
    width: 34px;
    height: 34px;
}

/* -----------------------------HERO-------------------- */
.hero {
    padding-top: 118px;
    padding-bottom: 120px;
    background: linear-gradient(135deg, #3a6c4c, #1f3324);
        color: white;
}

.hero .container {
    margin: 0 auto;
}

.hero-title {
    font-family: "Mulish ExtraBold";
    font-weight: 600;
    font-size: 54px;
    line-height: 1.07;
    text-align: center;
    color: #fff;
    max-width: 584px;
    margin: 0 auto;
    margin-bottom: 14px;
}
.hero-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 38px;
}
.hub2-1{
    display: inline-block;
    justify-content: center;
        padding: 10px;
        border: 1px solid #222;
        background-color: #222;
        color: #fff;
        border-radius: 8px;
        font-size: 25px;
        font-family: "Poppins Bold";
}
.hub{
    display: inline-block;
    padding: 5px 6px;
    border: 2px solid #2f4f2f;
    background-color: #2f4f2f;
    color: #e8e8e8;
    border-radius: 5px;
}
.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.8;
    font-family: "Manrope Regular";
    font-size: 1.2rem;
    color: #222;
    margin-bottom: 36px;
}
.intro-text h2{
    font-size: 1.5rem;
    color: #222;
}
.button-order {
    display: block;
    padding: 25px;
    font-family: "Mulish ExtraBold";
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 0 auto;
    border-radius: 8px;
    background: linear-gradient(45deg, #222, #2a472a);
    cursor: pointer;
    border: none;

}
.button-order:hover{
            transform: scale(1.05);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    
        }
    
        .button-order:active {
            transform: translateY(2px);
            /* Кнопка опускається при натисканні */
        }

/* -----------------------SECTION 1---------------------------------- */

.information {
    padding-top: 60px;
    padding-bottom: 60px;
}
/* .information-container{
    padding-left: 40px;
    padding-right: 40px;
} */
.information-title {
    font-family: "Manrope Regular", bold;
    font-size: 1.7rem;
    margin-bottom: 50px;
    color: #2a472a;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.information-list {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.information-item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex: 1 1 calc(50% - 20px);
    height: 175px;
    gap: 10px;
    padding: 25px;
    background-color: #fff;
    border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.information-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.information-subtitle {
    font-family: "Mulish Bold";
        color: #2a472a;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.information-icon-left, 
.information-icon-right{
display: flex;
    align-items: center;
    justify-content: center;
}
/* .information-icon-left{
    order: -1;
} */
.information-icon-right{
order: 2;
}
.information-image-text{
    order: 1;
}
.information-item-text {
    font-family: "Manrope Regular", bold;
        color: #222;
        margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ----------------------PROFESSION-------------------------- */
.profession{
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #2f4f2f;
}
/* .profession-container{
    width: 100%;
} */
.profession-title{
    font-family: "Manrope Light";
        font-size: 2rem;
        text-align: center;
        margin-bottom: 30px;
        color: #f4f4f4;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 30px 35px;
    padding: 20px 10px;
    overflow: hidden;
}
.card-wrapper .swiper-pagination-bullet{
    height: 14px;
    width: 14px;
    opacity: 0.6;
    background: #f4f4f4;
}
.card-wrapper .swiper-pagination-bullet:active{
    opacity: 1;
}
.card-wrapper .swiper-slide-button{
    color: hwb(0 13% 87%);
    margin-top: -35px;
}


.profession-link {
    display: flex;
    flex-direction: column;
    user-select: none;
    background-color: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    height: 450px;
}
.profession-link:hover{
    box-shadow: 0 4px 8px rgba(135, 134, 134, 0.3);
        transition: box-shadow 0.3s ease;
}
.profession-link:active{
    cursor: grabbing;
}
.profession-image{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    height: 200px;
}
.profession-subtitle{
    font-family: "Poppins SemiBold";
    color: #f4f4f4;
    padding: 8px 16px;
    font-size: 0.95rem;
    margin: 16px 0 18px;
    background-color: #2f4f2f;
    width: fit-content;
    border-radius: 5px;
}
.profession-item-text{
    font-size: 1rem;
    color: #222;
    font-family: "Manrope Regular", bold;
}
.card-button{
    height: 35px;
    width: 35px;
    color: #2f4f2f;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #2f4f2f;
    transform: rotate(-45deg);
    transition: 0.4s ease;
    margin-top: auto;

}
.profession-link:hover .card-button{
    color: #f4f4f4;
    background-color: #2f4f2f;

}
.swiper-button-prev,
.swiper-button-next{
    width: 15px;
    height: 15px;
    color: #f4f4f4;
    opacity: 0.5;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .card-wrapper{
        max-width: 100%;
        margin: 0 10px 25px;
    }
    .card-wrapper .swiper-slide-button{
        display: block;
    }
    .profession-link {
              height: 300px;
          }
}

/* ----------------FORM-------------------- */
.form {
    display: flex;
    padding: 40px;
    border-radius: 12px;
    margin: 20px auto;
    max-width: 600px;
    background: linear-gradient(135deg, #365a36, #263f26);
    border: 3px solid #2222223c;
    transition: box-shadow 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.form:hover {
    box-shadow: 0 0 20px 8px rgba(66, 126, 66, 0.7);
    /* Неонова тінь */
    border-color: #3a6c4c;
}

.form h2 {
    font-family: "Manrope Regular", bold;
    color: #f4f4f4;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    /* Тінь тексту */
}

.form p {
    font-family: "Manrope Regular", bold;
    font-weight: 500;
    font-size: 16px;
    color: #222;
    margin-bottom: 20px;
    text-align: center;
}

.form label {
    display: block;
    margin-bottom: 8px;
    font-family: "Mulish Bold";
    color: #222222;
    font-weight: bold;
}

.form input[type="email"],
.form input[type="text"],
.form select {
    width: calc(100% - 22px);
    /* Розмір з урахуванням відступів */
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #e8e8e8;
    border-radius: 4px;
    font-family: "Manrope Regular", bold;
    font-size: 16px;
}

.form select[multiple] {
    height: 100px;
    /* Висота для списку з множинним вибором */
}


.form button {
    font-family: "Mulish ExtraBold";
    background: linear-gradient(45deg, #222, #2a472a);
    color: white;
    padding: 14px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.form button:hover {
    background-color: #3a6c4c;
    transform: scale(1.05);
    /* Збільшення кнопки при наведенні */
}

.form button:active {
    transform: scale(0.95);
    /* Ефект натискання */
}

.form a {
    color: #3a6c4c;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form p:last-child {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
}

/* ---------------SCROLL---------------- */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2f4f2f;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.scroll-to-top img {
    width: 24px;
    height: 24px;
    fill: #f4f4f4;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 768px) {
    .scroll-to-top {
        bottom: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
    }

    .scroll-to-top img {
        width: 18px;
        height: 18px;
    }
}
/* -----------FOOTER------------------ */
.footer {
    background-color: #222;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-logo{
    display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 38px;
        color: #e8e8e8;
}
.logo-text{
    font-family: "Poppins Bold";
    color: #e8e8e8;
}
.footer-link {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2f4f2f;
    margin-bottom: 16px;

}

.footer-link-color {
    display: inline-block;
        padding: 3px 6px;
        border: 2px solid #2f4f2f;
        background-color: #2f4f2f;
        color: #e8e8e8;
        border-radius: 5px;
}


.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}